$primaryColor: #56903A; 
$secondaryColor: #6F4930;
$accentColor: #C56C39;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 1rem;