$primaryColor: #275411; 
$secondaryColor: #6F4930;
$accentColor: #7a3914;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 1rem;